body {
  overflow: hidden;
  font-family: -apple-system,
    "PingFang SC",
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Hiragino Sans GB",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* video */
.app-hero {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  flex: 0 0 auto;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  background-color: #000;
}

.video-btn {
  padding: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: .6;
  transition: opacity .25s ease-in-out;
}

.video-btn:hover {
  opacity: .8;
}

.play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pause-btn {
  width: 48px;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999;
}

.video-info {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
  color: rgba(255, 255, 255, .8);
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
}

.video-info .icon {
  margin-right: .5rem;
  vertical-align: middle;
  opacity: .8;
}

.video-location {
  text-transform: capitalize;
}

.video-info__btn {
  color: rgba(255, 255, 255, .8) !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.video-info__btn:hover {
  color: #fff !important;
}

.video-info__btn:hover .icon {
  opacity: 1;
}

.video-info .dropdown-menu {
  width: auto;
  min-width: 200px;
  max-height: 300px;
  overflow: auto;
}

.video-info .dropdown-header {
  font-size: 14px;
  padding: .3rem 1.5rem;
  color: #000;
}

.video-info .dropdown-menu > li > a {
  padding: 1rem 1.5rem;
  font-size: 12px;
}

.video-info__btn .caret {
  display: none;
}

.video-info .dropdown-menu>.active>a,
.video-info .dropdown-menu>.active>a:hover,
.video-info .dropdown-menu>.active>a:focus {
  background-color: #333;
}

.video-info__right {
  display: flex;
  justify-content: flex-end;
}

.app-settings .dropdown-menu {
  padding: 1rem 0;
}

.app-settings .dropdown-menu > li > a {
  padding: 1rem 1.5rem;
}

.app-settings .icon {
  width: 18px;
}